<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
  <a class="navbar-brand" href="/">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/article/all" style="color: chartreuse;">All_Articles</a>
      </li>
   
    
    </ul>
    <form class="form-inline my-2 my-lg-0" method="GET" action="/article/search">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

{{!-- 
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>. --}}

<div class="jumbotron">
    <div class="row">
        <h1  style="font-family: 'Arvo', serif;color:black;font-size:800%;text-align:center">MART</h1>
        <div class="col-md-12">
            <br>
            {{#each article}}
           <h3 style="font-weight: bolder;">{{this.title}}</h3><hr><br>
           <p>{{this.article_body}}</p>
           <h6 style="color: rgb(57, 57, 168);">By: {{this.email}}</h6>
           {{/each}}
           
        </div>
    </div>
</div>